.pai-landing-nav {

    .navigation {
        background-color: transparent;
        transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;

        &.scrolling {
            background-color: #fff;
            box-shadow: 0 12px 34px -11px rgb(65 62 101 / 10%)
        }

    }

    .not-authentication {
        width: 20%;

        .login-link {
            margin-right: 15px;
            color: $primary;
            display: flex;
            align-items: center;
            transition: color 150ms ease-in-out;

            svg {
                margin-bottom: 4px;
                margin-right: 5px;
                path {
                    fill: $primary;
                    transition: fill 150ms ease-in-out;
                }
            }

            &:hover {
                color: $secondary !important;
                background-color: transparent !important;

                svg {
                    path {
                        fill: $secondary;
                    }
                }

            }

        }

        .sign-up-link {
            color: white;
            background-color: $primary;
            border-radius: $border-radius;
            padding: 10px 28px;
            font-weight: 500;
            transition: background-color 150ms ease-in-out,
                color 150ms ease-in-out, border 150ms ease-in-out;
            border: 2px solid transparent;

            &:hover {
                color: $white;
                background-color: $secondary;
                border: 2px solid $secondary; 
            }
        }
    }

    .mobile-auth {
        .mobile-auth-actions {
            display: flex;

            @include respond-below(sm) {
                display: block !important;
            }

            a {
                font-size: 16px !important;
                font-weight: 500 !important;

                @include respond-below(sm) {
                    display: block !important;
                    width: 100%;
                    text-align: center !important;
                }

                &:before {
                    display: none;
                }
            }

            .mobile-login {
                color: $white !important;
                background-color: $secondary !important;
                border-radius: $border-radius;
                padding: 10px 28px !important;
                font-weight: 500;
                transition: background-color 150ms ease-in-out,
                    color 150ms ease-in-out, border 150ms ease-in-out !important;
                border: 2px solid transparent;
                margin-right: 15px;
                display: flex;
                align-items: center;

                svg {
                    margin-bottom: 4px;
                    margin-left: 5px;
                    path {
                        fill: $white;
                        transition: fill 150ms ease-in-out;
                    }
                }

                &:hover {
                    color: $secondary !important;
                    background-color: transparent !important;
                    border: 2px solid $secondary;

                    svg {
                        path {
                            fill: $secondary;
                        }
                    }

                }
            }
            .mobile-sign-up {
                color: $secondary !important;
                background-color: $white !important;
                border-radius: $border-radius;
                padding: 10px 28px !important;
                font-weight: 500;
                transition: background-color 150ms ease-in-out,
                    color 150ms ease-in-out, border 150ms ease-in-out !important;
                border: 2px solid transparent;

                &:hover {
                    color: $white !important;
                    background-color: $secondary !important;
                    border: 2px solid $secondary;
                }
            }
        }
    }

    .navigation-authenticated {
        .user-dropdown {
            #user-dropdown {
                &:after {
                    content: "";
                    display: none;
                }
                color: $primary;
            }
        }

        p {
            margin-bottom: 0;
            margin-left: 10px;
            color: $primary;
        }

        .mobile-user-image {
            border-radius: 100px;
            width: 40px;
            height: 40px;
        }

        .user-image {
            width: 40px;
            height: 40px;
            position: relative;
            border-radius: 100px;

            img {
                border-radius: 100px;
                height: 100%;
                width: 100%;
            }
        }
    }

    .navbar-brand {
        width: 20%;

        svg {
            width: 160px;
        }

    }

    .links {
        width: 60%;
        justify-content: center;

        .nav-link {
            color: $primary;
            position: relative;
            margin: 0px 18px;
            padding: 0;
            font-weight: 600;

            &:before {
                content: "";
                position: absolute;
                bottom: -5px;
                right: 0;
                width: 0;
                height: 2px;
                background-color: $secondary;
                transition: width 150ms cubic-bezier(0.25, 1, 0.5, 1);
            }

            &:hover {
                color: $secondary;

                &:before {
                    left: 0;
                    right: auto;
                    width: 100%;
                }
            }

            &.active {
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $secondary;
                }
            }
        }
    }

    .mobile-menu {
        .mobile-menu-trigger {
            z-index: 10;
            .hamburger {
                z-index: 5;
                position: relative;

                &:hover {
                    cursor: pointer;
                }

                .line {
                    width: 30px;
                    height: 2px;
                    background-color: $primary;
                    display: block;
                    margin: 5px auto;
                    transition: all 0.3s ease-in-out;
                }

                &.is-active {
                    .line {
                        background-color: $white;
                    }
                    .line:nth-child(2) {
                        opacity: 0;
                    }
                    .line:nth-child(1) {
                        transform: translateY(7px) rotate(45deg);
                    }
                    .line:nth-child(3) {
                        transform: translateY(-7px) rotate(-45deg);
                    }
                }
            }
        }

        .mobile-menu-navigation {
            position: fixed;
            z-index: 3;
            top: 0;
            right: 0;
            height: 100%;
            width: 90%;
            max-width: 460px;
            padding: 2em 3.5em;
            background: $primary;
            overflow: auto;
            transform: translateZ(0);
            transform: translateX(100%);
            transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);

            @include respond-below(sm) {
                padding: 2em 2em;
            }

            .mobile-menu-inner {
                position: relative;
                height: 100%;
            }

            &.nav-open {
                transform: translateX(0px);

                .mobile-nav {
                    a {
                        animation: slide-in 0.4s 0.2s backwards;
                    }

                    a:nth-of-type(2) {
                        animation-delay: 0.3s;
                    }
                    a:nth-of-type(3) {
                        animation-delay: 0.35s;
                    }
                    a:nth-of-type(4) {
                        animation-delay: 0.4s;
                    }
                    a:nth-of-type(5) {
                        animation-delay: 0.45s;
                    }
                    a:nth-of-type(6) {
                        animation-delay: 0.5s;
                    }

                    @keyframes slide-in {
                        0% {
                            opacity: 0;
                            transform: translateX(80px);
                        }

                        100% {
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }
                }
            }

            header {
                p {
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: rgba(255, 255, 255, 0.3);
                    margin: 1.5em 0;
                }
            }

            .mobile-nav {
                list-style: none;
                padding: 0;
                margin-left: 0;
                margin-bottom: 0;

                a {
                    position: relative;
                    display: block;
                    padding: 0.4em 0;
                    font-size: 32px;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: $white;
                    transform: translateZ(0);
                    transition: opacity 150ms ease-in-out,
                        padding-left 150ms ease-in-out;

                    &:before {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background-color: $secondary;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        opacity: 0;
                        transition: opacity 150ms ease-in-out;
                    }

                    &:hover {
                        padding-left: 20px;
                        color: $secondary;

                        &:before {
                            opacity: 1;
                        }
                    }

                    &.active {
                        padding-left: 20px;
                        color: $secondary;

                        &:before {
                            opacity: 1;
                        }
                    }

                    @include respond-below(sm) {
                        font-size: 26px;
                    }
                }
            }
        }
    }
}
