.dashboard-collection {
    .collection-actions {
        margin-bottom: 25px;

        .btn {
            margin-right: 10px;
            padding: 10px 55px;
        }

        .collection-settings-button {
            color: white;
        }

        .collection-share-button {
        }
    }
}
