.login-form {
    width: 100%;

    .text-link {
        color: $secondary;
        transition: color 150ms ease-in-out;

        &:hover {
            color: darken($secondary, 10%);
        }
    }

    .login-form-content {
        margin-bottom: 30px;

        .title {
            font-size: 48px;
            margin-bottom: 10px;
            margin-top: 0;
        }

        .text {
            font-size: 16px;
        }
    }

    .form-wrapper {
        .form-group {
            width: 100%;
            margin-bottom: 27px;

            .login-label {
                font-size: 14px;
            }

            .form-validation {
                display: none;
                color: $error;
            }

            .form-validation-message {
                display: block;
                color: $error;
            }

            .email-input {
                width: 100%;
            }

            .password-input {
                width: 100%;
            }
        }

        .login-btn {
            color: #fff;
            border: $secondary;
            width: 100%;
        }

        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            margin-bottom: 0;
            padding-bottom: 0;
            display: flex;
            justify-content: space-between;

            li {
                width: 32%;
                .login-fb-btn {
                    width: 100%;
                    background-color: #1877f2;
                    border: $secondary;
                    padding: 10px 0px;
                    transition: all 150ms ease-in-out;

                    &:hover {
                        background-color: lighten(#1877f2, 15%);
                    }
                }
                .login-google-btn {
                    width: 100%;
                    background-color: #ea4335;
                    border: $secondary;
                    padding: 10px 0px;
                    transition: all 150ms ease-in-out;

                    &:hover {
                        background-color: lighten(#ea4335, 15%);
                    }
                }
                .login-github-btn {
                    width: 100%;
                    background-color: #333;
                    border: $secondary;
                    padding: 10px 0px;
                    transition: all 150ms ease-in-out;

                    &:hover {
                        background-color: lighten(#333, 15%);
                    }
                }
            }
        }

        .links {
            margin-top: 27px;
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            margin-bottom: 0;
            padding-bottom: 0;
            display: flex;
            justify-content: space-between;
            li {
                width: 100%;
            }

            .remember-me-btn {
                .form-group-custom {
                    color: $primary;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: left;

                    label {
                        .remember-me {
                            clip: rect(0 0 0 0);
                            clip-path: inset(50%);
                            height: 1px;
                            overflow: hidden;
                            position: absolute;
                            white-space: nowrap;
                            width: 1px;
                        }
                        .checkbox {
                            display: inline-block;
                            height: 20px;
                            width: 20px;
                            background: #e8ecef;
                            border: none;
                            margin-right: 15px;
                            border-radius: 4px;
                            margin-bottom: 2px;
                            transition: background-color 50ms ease-in-out,
                                border-color 50ms ease-in-out;

                            &--active {
                                transition: background-color 50ms ease-in-out,
                                    border-color 50ms ease-in-out;
                                border-color: $secondary;
                                background-color: $secondary;
                            }

                            path {
                                height: 15px;
                                width: 15px;
                            }
                        }
                    }
                }
            }

            .forgot-password {
                text-align: center;
            }
        }
    }
}
