.user-actions {
    display: flex;

    .profile-action {
        margin-right: 15px;
        position: relative;

        &.is-open {
            .profile-dropdown {
                display: block;
                opacity: 1;
                z-index: 9999;
                animation: profileDropdownShow 150ms ease-in-out;
            }

            .profile {
                .profile-tab {
                    svg {
                        path {
                            fill: $secondary;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .profile {
            display: inline-block;
            background-color: $white;
            border-radius: $border-radius;
            box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.04);

            &:hover {
                .profile-tab {
                    svg {
                        path {
                            fill: $secondary;
                            opacity: 1;
                        }
                    }
                }
            }

            .profile-tab {
                padding: 14px;
                position: relative;

                svg {
                    path {
                        fill: $primary;
                        opacity: 0.7;
                        transition: all 150ms ease-in-out;
                    }
                }
            }
        }

        .profile-dropdown {
            opacity: 0;
            display: none;
            margin-top: 10px;
            background-color: #fff;
            border-radius: $border-radius;
            padding: 28px;
            position: absolute;
            right: 0;
            z-index: -999999;
            min-width: 350px;

            @keyframes profileDropdownShow {
                0% {
                    opacity: 0;
                }

                90% {
                    opacity: 1;
                }
                100% {
                    display: block;
                }
            }

            .profile-headline {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                position: relative;

                .profile-header-wrap {
                    height: 50px;
                    width: 50px;
                    position: relative;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 100px;
                    }
                }

                .profile-header-text {
                    margin-left: 8px;
                    .title {
                        font-size: 22px;
                        color: $primary;
                        margin-bottom: 0;
                    }

                    .text {
                        margin-bottom: 0;
                        margin-top: 2px;
                        font-size: 14px;
                        color: $primary;
                        opacity: 0.5;
                    }
                }
            }

            .profile-wrapper {
                .sign-out-button {
                    width: 100%;
                }

                .profile-list {
                    list-style: none;
                    margin-left: 0;
                    margin-bottom: 10px;
                    padding-left: 0;
                    padding-bottom: 0;

                    .profile-item {
                        padding: 15px 0px;
                        margin: 15px 0px;

                        a {
                            color: rgba(57, 61, 63, 0.5);
                            font-size: 16px;
                            font-weight: 600;
                            text-decoration: none;
                            line-height: 1;
                            display: flex;
                            align-items: center;
                            transition: color 150ms ease-in-out;

                            &:hover {
                                color: $primary;
                                svg {
                                    path {
                                        fill: $secondary;
                                    }
                                }
                            }

                            svg {
                                margin-right: 15px;
                                path {
                                    fill: rgba(57, 61, 63, 0.5);
                                    transition: fill 150ms ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .notif {
        position: relative;

        &.is-open {
            .notif-dropdown {
                display: block;
                opacity: 1;
                z-index: 9999;
                animation: NotifDropdownShow 150ms ease-in-out;
            }

            .notifications {
                .notifications-tab {
                    svg {
                        path {
                            fill: $secondary;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .notifications {
            display: inline-block;
            background-color: $white;
            border-radius: $border-radius;
            box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.04);

            &:hover {
                .notifications-tab {
                    svg {
                        animation: bellshake 0.5s
                            cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                        backface-visibility: hidden;
                        transform-origin: top center;
                        path {
                            fill: $secondary;
                            opacity: 1;
                        }
                    }
                }
            }

            .notifications-tab {
                padding: 14px;
                position: relative;

                .notif-unread {
                    position: absolute;
                    top: 25%;
                    left: 30%;
                    background-color: #e05263ff;
                    border-radius: 100px;
                    padding: 5px;
                    z-index: 100;
                }

                svg {
                    path {
                        fill: $primary;
                        opacity: 0.7;
                        transition: all 150ms ease-in-out;
                    }
                }

                @keyframes bellshake {
                    0% {
                        transform: rotate3d(1, 1, 1, 0deg);
                    }
                    15% {
                        transform: rotate3d(1, 1, 1, 5deg);
                    }
                    30% {
                        transform: rotate3d(1, 1, 1, -5deg);
                    }
                    45% {
                        transform: rotate3d(1, 1, 1, 4deg);
                    }
                    60% {
                        transform: rotate3d(1, 1, 1, -4deg);
                    }
                    75% {
                        transform: rotate3d(1, 1, 1, 2deg);
                    }
                    85% {
                        transform: rotate3d(1, 1, 1, -2deg);
                    }
                    92% {
                        transform: rotate3d(1, 1, 1, 1deg);
                    }
                    100% {
                        transform: rotate3d(1, 1, 1, 0deg);
                    }
                }
            }
        }

        .notif-dropdown {
            opacity: 0;
            display: none;
            margin-top: 10px;
            background-color: #fff;
            border-radius: $border-radius;
            padding: 28px;
            position: absolute;
            right: 0;
            z-index: -1;
            min-width: 350px;

            @keyframes NotifDropdownShow {
                0% {
                    opacity: 0;
                }

                90% {
                    opacity: 1;
                }
                100% {
                    display: block;
                }
            }

            .notif-headline {
                margin-bottom: 15px;

                .title {
                    font-size: 22px;
                    color: $primary;
                    margin-bottom: 0;
                }

                .text {
                    margin-bottom: 0;
                    margin-top: 2px;
                    font-size: 14px;
                    color: $primary;
                    opacity: 0.5;
                }
            }

            .notif-wrapper {
                .see-all-notif {
                    width: 100%;
                }

                .notif-list {
                    list-style: none;
                    margin-left: 0;
                    margin-bottom: 10px;
                    padding-left: 0;
                    padding-bottom: 0;
                    .notif-item {
                        margin-bottom: 15px;
                        display: flex;
                        align-items: center;
                        .notif-icon {
                            background-color: rgba(108, 99, 255, 0.1);
                            min-height: 52px;
                            min-width: 52px;
                            border-radius: 100px;
                            position: relative;

                            .notif-icon-inner {
                                svg {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    transition: opacity 150ms ease-in-out,
                                        left 150ms ease-in-out;
                                }

                                .icon {
                                    opacity: 1;
                                    path {
                                        fill: $primary;
                                    }
                                }

                                .trash {
                                    opacity: 0;
                                    left: 40%;
                                    path {
                                        stroke: $primary;
                                    }
                                }

                                &.is-active {
                                    .icon {
                                        opacity: 0;
                                        left: 60%;
                                    }

                                    .trash {
                                        opacity: 1;
                                        left: 50%;
                                    }
                                }
                            }
                        }
                        .notif-text {
                            margin-left: 10px;
                            max-width: 235px;
                            p {
                                font-size: 15px;
                                margin-bottom: 0;
                                color: $primary;
                            }
                            span {
                                font-weight: 600;
                                color: $secondary;
                            }
                        }
                    }
                }
            }
        }
    }
}
